<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Comp1 <span class="sr-only">Comp1</span></a>
            <a class="nav-item nav-link" href="/home/switchMap">switchMap</a>
            <a class="nav-item nav-link" href="/home/mergeMap">mergeMap</a>
            <a class="nav-item nav-link" href="/home/retry">Retry</a>
            <a class="nav-item nav-link" href="/home/retry">CatchError</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>