<div class="container">
    <div class="col">
        <div class="title">SwitchMap</div>
        <p class="content" *ngFor="let i of valueArray1">{{i}}</p>
    </div>
    <div class="col">
        <div class="title">MergeMap</div>
        <p class="content" *ngFor="let i of valueArray2">{{i}}</p>
    </div>
    <div class="col">
        <div class="title">ConcatMap</div>
        <p class="content" *ngFor="let i of valueArray3">{{i}}</p>
    </div>
    <div class="col">
        <div class="title">ExhaustMap</div>
        <p class="content" *ngFor="let i of valueArray4">{{i}}</p>
    </div>
</div>